<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ps="http://java.sun.com/jsf/passthrough">
    <h:head>
        <title>建立個案</title>

    </h:head>
    <h:body>
        <!--User Story 2.1-->
        <h1>建立個案</h1>
        <h:form>
            <p:panelGrid style="width: 70%">
                <f:facet name="header">
                    <p:row >
                        <p:column colspan="9" >
                            基本資料
                        </p:column>
                    </p:row>
                </f:facet>
                <p:row>
                    <p:column colspan="2">姓名:</p:column>
                    <p:column colspan="6" >
                        <p:inputText  value="#{receiver.receiverEntity.name}"/>
                    </p:column>
                    <p:column rowspan="3">
                        Picture 
                    </p:column>
                </p:row>
                <p:row>
                    <p:column colspan="2">
                        身份證字號: 
                    </p:column>
                    <p:column colspan="6">
                        <p:inputText value="#{receiver.receiverEntity.idCardNumber}"/>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column colspan="2">出生年月日</p:column>
                    <p:column >
                        <p:inputText id="birthYearInput" value="#{receiver.birthYear}"
                                     validatorMessage="需介於 1900 到 目前時間的年份">
                            <f:validateLongRange minimum="1900" maximum="#{birthDateBean.currentYear}"/>
                            <p:ajax event="valueChange" process="@this" update="daySelection birthYearError" />
                        </p:inputText>
                        <p:message id="birthYearError" for="birthYearInput" />
                    </p:column>
                    <p:column >年</p:column>
                    <p:column >
                        <p:selectOneMenu value="#{receiver.birthMonth}">
                            <f:selectItems value="#{birthDateBean.monthItems}"/>
                            <p:ajax event="valueChange" process="@this" update="daySelection" />
                        </p:selectOneMenu></p:column>
                    <p:column >月</p:column>
                    <p:column >
                        <p:selectOneMenu id="daySelection" value="#{receiver.birthDay}">
                            <f:selectItems value="#{birthDateBean.getDayItems(receiver.birthYear, receiver.birthMonth)}" />
                        </p:selectOneMenu></p:column>
                    <p:column >日</p:column>
                </p:row>
                <p:row>
                    <p:column colspan="2">姓別</p:column>
                    <p:column colspan="6">
                        <p:selectOneMenu  value="#{receiver.receiverEntity.gender}">
                            <f:selectItem itemLabel="請選擇" itemValue="" />
                            <f:selectItem itemLabel="男性" itemValue="1" />
                            <f:selectItem itemLabel="女性" itemValue="0" />
                        </p:selectOneMenu>
                    </p:column>
                    <p:column><p:commandButton value="上傳照片" /> </p:column>
                </p:row>
                <p:row>
                    <p:column colspan="2">電話</p:column>
                    <p:column colspan="7">
                        <p:inputText id="phoneInput" 
                                     value="#{receiver.receiverEntity.phoneNumber}"
                                     ps:placeholder="04-1234-568">
                            <f:validateRegex pattern="(^\d{2,3}-\d{3,4}-\d{4}(.*)?)?"/>
                            <p:ajax process="@this" update="phoneError" />
                        </p:inputText>
                        <p:message id="phoneError" for="phoneInput" />
                    </p:column>
                </p:row>
                <p:row>
                    <p:column colspan="2">手機</p:column>
                    <p:column colspan="7">
                        <p:inputText id="mobilePhoneInput"
                                     value="#{receiver.receiverEntity.mobileNumber}"
                                     ps:placeholder="0928-123-456">
                            <f:validateRegex pattern="(^\d{4}-\d{3}-\d{3})?" />  
                            <p:ajax process="@this" update="mobilePhoneError" />
                        </p:inputText>
                        <p:message id="mobilePhoneError" for="mobilePhoneInput" />
                    </p:column>
                </p:row>
                <p:row>
                    <p:column colspan="2">地址</p:column>
                    <p:column colspan="7"><p:inputText value="#{receiver.receiverEntity.address}"/></p:column>
                </p:row>
                <p:row>
                    <p:column colspan="2">興趣</p:column>
                    <p:column colspan="7">
                        <p:selectManyCheckbox value="#{receiver.receiverEntity.interestings}">
                            <f:selectItem itemLabel="運動" itemValue="sport" />
                            <f:selectItem itemLabel="音樂" itemValue="music" />
                            <f:selectItem itemLabel="展覽" itemValue="exhibition" />
                        </p:selectManyCheckbox>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column colspan="2">附註</p:column>
                    <p:column colspan="7">
                        <p:inputTextarea value="#{receiver.receiverEntity.note}"/>
                    </p:column>
                </p:row>

            </p:panelGrid>
            <p:commandButton action="#{receiver.saveDB}" value="儲存" ajax="false" />
        </h:form>
    </h:body>
</html>

