<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>顯示票卷接受者</title>
    </h:head>
    <h:body>
        <h1>票卷接受者清單</h1>
        <h:form>
            <p:dataTable id="receiverList"
                value="#{receiver.receivers}" var="r"
                         widgetVar="receiverTable">
                <p:column headerText="編號"> #{r.id} </p:column>
                <p:column headerText="姓名" filterBy="#{r.name}" filterMatchMode="contains">
                    <h:outputText value="#{r.name}"/>
                </p:column>
                <p:column headerText="身份證字號">
                    <h:outputText value="#{r.idCardNumber}" />
                </p:column>
                <p:column headerText="生日" filterBy="#{r.birth}" filterMatchMode="lte">
                    <f:facet name="filter">
                        <p:inputMask mask="9999/99/99" 
                                     onkeyup="PF('receiverTable').filter()">
                            <f:convertDateTime type="date" pattern="yyyy/MM/dd"
                                               timeZone="Asia/Taipei"/>
                        </p:inputMask>
                    </f:facet>
                    <h:outputText value="#{r.birth}">
                        <!--JSF 預設的時區為 UTC +0-->
                        <f:convertDateTime type="date" timeZone="Asia/Taipei" pattern="yyyy/MM/dd" />
                    </h:outputText>
                </p:column>
            </p:dataTable>
        </h:form>
        <h:form>
            <p:commandButton ajax="false" value="新增記錄" action="#{receiver.addNew}"/>
        </h:form>
    </h:body>
</html>

