<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ps="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
        <title>檢視票卷結果</title>
        <meta name="description" content="US4(B2.1) 管理者輸入票券資料以利後續媒合活動"/>
        <meta name="author" content="hychen39@gmail.com"/>
    </h:head>
    <h:body>
        <h1>檢視票卷結果</h1>
        
           
        <h:form id="viewTicket">
            <p:panelGrid columns="2" >
                <p:outputLabel for="create_date" value="建檔日期" />
                <p:outputLabel id="create_date" value="#{ticketBean.currenTicket.create_date}">
                    <f:convertDateTime timeZone="Asia/Taipei" type="both"/>
                </p:outputLabel>
                <p:outputLabel for="name" value="票卷名稱" />
                <p:outputLabel id="name" value="#{ticketBean.currenTicket.name}"/>
                <p:outputLabel for="type" value="種類" />
                <p:outputLabel id="type" value="#{ticketBean.currenTicket.category.name}" />
                <p:outputLabel for="qty" value="張數"  />
                <p:outputLabel id="qty" value="#{ticketBean.currenTicket.qty}"/>
                <p:outputLabel for="donor" value="捐贈者" />
                <p:outputLabel id="donor" value="#{ticketBean.currenTicket.donor}"/>
            </p:panelGrid>
            <p:commandButton id="defaultActionButton" 
                             value="存儲" action="#{ticketBean.save}"
                            ps:autofocus="true" />
            <p:commandButton value="修改" action="/manage/tickets/ticket_create" />
        </h:form>
    </h:body>
</html>

