<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>建立票卷</title>
        <meta name="description" content="US4(B2.1) 管理者輸入票券資料以利後續媒合活動"/>
        <meta name="author" content="hychen39@gmail.com"/>
    </h:head>
    <h:body>
        <h1>建立票卷</h1>
        
        <h:form id="createTiciteForm">
            <p:panelGrid columns="2" >
                <p:outputLabel for="create_date" value="建檔日期" />
                <p:outputLabel id="create_date" value="#{ticketBean.currenTicket.create_date}">
                    <f:convertDateTime timeZone="Asia/Taipei" type="both"/>
                </p:outputLabel>
                <p:outputLabel for="name" value="票卷名稱" />
                <p:inputText id="name" value="#{ticketBean.currenTicket.name}"/>
                <p:outputLabel for="type" value="種類" />
                <p:selectOneMenu id="type" value="#{ticketBean.currenTicket.category}"
                                 converter="ticketCategoryConverter">
                    <f:selectItem itemLabel="---" itemValue="" />
                    <f:selectItems  value="#{ticketBean.ticketCategoryObjects}" var="category" itemLabel="#{category.name}"
                                    itemValue="#{category}"/>
                </p:selectOneMenu>
                <p:outputLabel for="numbers" value="張數"  />
                <p:spinner id="numbers" min="0" value="#{ticketBean.currenTicket.qty}"/>
                <p:outputLabel for="donor" value="捐贈者" />
                <p:inputText id="donor" value="#{ticketBean.currenTicket.donor}"/>
            </p:panelGrid>
            <p:commandButton value="確認" action="/manage/tickets/ticket_review" />
            <p:commandButton value="取消" action="/index" />
        </h:form>
    </h:body>
</html>

