<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>票卷刊登列表</title>
        <meta name="description" 
              content="B4.1 系統列表顯目前有上架的票卷，以供訪客或其他角色瀏覽。"/>
        <meta name="author" content="hychen39@gmail.com"/>
    </h:head>
    <h:body>
        <h:form id="form">
            <c:forEach items="#{showCaseBean.findAllPosts()}" var="activePost">
                <h:panelGrid columns="2" style="width:35%; display: inline-block;">
                    <p:graphicImage library="images" name="vw.jpg" /> 
                    <p:outputPanel>
                        <h:panelGrid columns="1" >
                            <h:outputText value="#{activePost.id}" />
                            <h:outputText value="#{activePost.ticket.name}" />
                            <p:outputPanel>
                                刊登期間: <h:outputFormat value="{0, date, yyyy/MM/dd} ~ {1, date, yyyy/MM/dd}">
                                    <f:param value="#{activePost.startDate}" />
                                    <f:param value="#{activePost.endDate}" />
                                </h:outputFormat>
                            </p:outputPanel>
                            <h:outputText value="張數 #{activePost.ticket.qty} 張" />

                            <h:outputText value="#{activePost.ticket.donor} 贊助" 
                                          style="font-weight: bold"/>
                            <h:outputText value="#{activePost.description}" />
                            <h:outputFormat value=" {0, date, yyyy/MM/dd} 建立">
                                <f:param value="#{activePost.postDate}"/>
                            </h:outputFormat>
                        </h:panelGrid>
                    </p:outputPanel>
                </h:panelGrid>
            </c:forEach>
        </h:form>
    </h:body>
</html>

