<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>建立票卷刊登</title>
    </h:head>
    <h:body>
        <h:form>
            <p:panelGrid columns="2">
                <p:outputLabel value="選擇票卷" />
                <p:outputPanel>
                    <p:selectOneMenu id="selectTicket" value="#{showCaseBean.currentPost.ticket}"
                                     converter="ticketConverter"
                                     var="t">
                        <f:selectItems value="#{ticketBean.tickets}" 
                                       var="ticket" itemLabel="#{ticket.name}" itemValue="#{ticket}" />
                        <f:ajax execute="@this" render="ticketID ticketDonor" />
                        <p:column> #{t.id }</p:column>
                        <p:column> #{t.name}</p:column>
                    </p:selectOneMenu>
                    <p:outputLabel id="ticketID" value="ID: #{showCaseBean.currentPost.ticket.id}" />
                    <p:outputLabel id="ticketDonor" value="  Donor: #{showCaseBean.currentPost.ticket.donor}" />
                </p:outputPanel>
                <p:outputLabel value="起始日期" />
                <p:outputPanel id="startDatePanel">
                    <p:calendar id="startDate" 
                                pattern="yyyy/MM/dd"
                                binding="#{startDateComponent}"
                                value="#{showCaseBean.currentPost.startDate}">
                    </p:calendar>
                    <p:message for="startDate" />
                </p:outputPanel>

                <p:outputLabel value="結束日期"/>
                <p:outputPanel id="endDatePanel">
                    <p:calendar id="endDate" 
                                pattern="yyyy/MM/dd"
                                value="#{showCaseBean.currentPost.endDate}">
                        <f:validator validatorId="dateRangeValidator" />
                        <f:attribute name="startDateComponent" value="#{startDateComponent}" />
                        <p:ajax  event="change" process="startDate endDate" update="startDatePanel endDatePanel" />
                        <p:ajax  event="dateSelect" process="startDate endDate" update="startDatePanel endDatePanel" />
                    </p:calendar>
                    <p:message for="endDate" />
                </p:outputPanel>
                <p:outputLabel value="刊登日期" />
                <p:outputLabel value="#{showCaseBean.currentPost.postDate}">
                    <f:convertDateTime type="both" timeZone="Asia/Taipei" />
                </p:outputLabel>
                <p:outputLabel value="刊登說明" />
                <p:inputTextarea value="#{showCaseBean.currentPost.description}" />
            </p:panelGrid>
            <p:commandButton value="Save" actionListener="#{showCaseBean.save}" ajax="false"/>
            <p:commandButton value="Home" action="home" ajax="false"/>
        </h:form>
    </h:body>
</html>

