<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>票卷媒合系統</title>
        <h:outputScript library="js" name="jsfcrud.js" />
    </h:head>
    <h:body>
        <!--顯示訊息-->
        <p:growl id="Message" autoUpdate="false" />

        <!--US 5.1管理者可新增票券分類以利票券相關活動--> 
        <h2> 票卷分類一覽表</h2>
        <h:form id="categoryListing">
            <h:inputText id="searchBox" value="#{ticketCategoryBean.searchTerm}"  /> 
            <h:commandButton value="Search" action="#{ticketCategoryBean.searchCategory}" />
            <p:commandButton id="createButton" value="新增" 
                             actionListener="#{ticketCategoryBean.prepareNew}"
                             update=":newCategoryMsgbox"
                             oncomplete="PF('newCategoryMsgbox').show();" />

            <p:commandButton id="editButton"
                             value="Edit"
                             update=":newCategoryMsgbox"
                             oncomplete="PF('newCategoryMsgbox').show();"
                             disabled="#{empty ticketCategoryBean.currentCategory}"/>

            <p:commandButton id="deleteButton"
                             value="Remove"
                             actionListener="#{ticketCategoryBean.remove}"
                             update=":categoryListing:catTable"
                             disabled="#{empty ticketCategoryBean.currentCategory}"/>


            <p:dataTable id="catTable"  widgetVar="categoryTable"
                         value="#{ticketCategoryBean.categoryList}" 
                         var="category"
                         selectionMode="single"
                         selection="#{ticketCategoryBean.currentCategory}"
                         rowKey="#{category.id}"
                         style="width: 50%">
                <!--Register listener-->
                <p:ajax event="rowSelect"   update=":categoryListing:editButton :categoryListing:deleteButton"/>
                <p:ajax event="rowUnselect" update=":categoryListing:editButton :categoryListing:deleteButton"/>

                <p:column headerText="分類名稱" style="width: 20%">
                    <!--row value-->
                    <h:outputText value="#{category.name}"/>
                </p:column>
                <p:column headerText="摘要" style="width: 40%">
                    <h:outputText value="#{category.desc}" />
                </p:column>
            </p:dataTable>


            <!--            context menu for table cell
                        <p:contextMenu for=":categoryListing:catTable" widgetVar="cMenu">   
                            <p:menuitem value="Edit Cell" icon="ui-icon-search" onclick="PF('categoryTable').showCellEditor();return false;"/>  
                            <p:menuitem value="Hide Menu" icon="ui-icon-close" onclick="PF('cMenu').hide()"/>  
                        </p:contextMenu>-->
        </h:form>

        <!--Dialog for adding new category-->
        <p:dialog  id="newCategoryMsgbox"
                   header="Modal Dialog" widgetVar="newCategoryMsgbox" modal="true" height="100"
                   visible="#{facesContext.validationFailed}">
            <h:form>
                <p:panelGrid columns="3">
                    <h:outputLabel>*類別</h:outputLabel>
                    <h:inputText id="categoryNameInput"
                                 value="#{ticketCategoryBean.currentCategory.name}"
                                 required="true" requiredMessage="請輸入票卷類別名稱"/>
                    <h:message for="categoryNameInput" />
                    <h:outputLabel>摘要</h:outputLabel>
                    <h:inputText value="#{ticketCategoryBean.currentCategory.desc}" />
                </p:panelGrid>
                <p:commandButton value="確定" 
                                 actionListener="#{ticketCategoryBean.savdDB()}"
                                 update=":newCategoryMsgbox categoryListing"
                                 oncomplete="handleSubmit(args, 'newCategoryMsgbox');"
                                 />
                <p:commandButton value="取消" type="button"
                                 onclick="PF('newCategoryMsgbox').hide();"
                                 />
            </h:form>
        </p:dialog>          
        <!--        <script>
                    $(document).on("keydown", ".ui-cell-editor-input input", function (event) {
                        if (event.keyCode == 13) {
                           var icon_check =  $(this).closest("tr").find(".ui-row-editor .ui-icon-check");
                           icon_check.click();
                        }
                    });
                </script>-->
    </h:body>
</html>

