<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>票卷媒合系統</title>

    </h:head>
    <h:body>
        <!--US 5.1管理者可新增票券分類以利票券相關活動--> 
        <h2> 票卷分類一覽表</h2>
        <h:form>
            <h:commandLink  action="/manage/ticketCategory/ticketCategory" >
                Ticket Category
            </h:commandLink>
            <br/>
            <h:commandLink action="/manage/cases/createCase" >
                Add New Receiver
            </h:commandLink>
            <br/>
            <h:commandLink action="/manage/cases/listAllReceivers">
                List Receivers
            </h:commandLink>
            <br/>
            <h:commandLink action="/manage/tickets/ticket_create">
                Create Ticket
            </h:commandLink>
            <br/>
            <h:commandLink action="/manage/showcase/post_list">
                Ticket Showcase
            </h:commandLink>
            <br/>
            <h:commandLink action="/manage/showcase/post_create">
                Create Post
            </h:commandLink>
        </h:form>
        
    </h:body>
</html>

